//
   Created by jeffersonwu on 4/1/16.


doctype
html
    head
        title #{title} - My Site
        link(rel='stylesheet', href='/css/style.css')
    body
        header
            h1 My Site
            .container
                .main-content
                    block content
                .sidebar
                    block sidebar
    footer
        p Running on Node with Express and Jade.