/* == style.css ==
* For upload forms, specifically 'upload-unzip.html'
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
    font-weight: 300;
}

html, body {
    width: 100%;
    height: 100%;
}