/* == style.css ==
* For upload forms, specifically 'upload-unzip.html'
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}

p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.45em;
}

html, body {
    width: 100%;
    height: 100%;
}

#title {
    color: rgba(255,0,0,0.5);
}

#footer {
    color: rgba(0,255,0,0.5);
}