/* == style.css ==
* For upload forms, specifically 'upload-unzip.html'
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}

p {
    font-size: 1em;
}

html, body {
    width: 100%;
    height: 100%;
}

#footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 100%;

    bottom: 0px;
    left: 0px;
}

.progressBar {
    position: relative;
    width: 300px;
    height: 50px;
    border: 2px dotted rgba(0,0,0,0.25);
}

.progressValue {
    position: absolute;
    background: rgba(0,255,0,1.0);
    top: 0px;
    left: 0px;
    width: 20%; /*value to be changed by JS*/
    height: 100%;
}
