/* == style.css ==
* For upload forms, specifically 'upload-unzip.html'
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}

p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.45em;
}

html, body {
    width: 100%;
    height: 100%;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgba(255, 255, 0, 1);
    background: rgba(0,0,0,0.5);

    height: 120px;

    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

#footer {

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    color: rgba(255,255,255,0.75);
    background: rgba(0,0,0,0.5);

    height: 100px;
    width: 100%;

    bottom: 0px;
    right: 0px;
}